.card {
    width: 328px;
    position: relative;
    display: flex;
    justify-content: center;
    
}

.card__name {
    position: absolute;
    top: 18px;
    margin: 0;
    font-size: 16px;
    line-height: 20px;
    padding: 4px 8px; 
    background-color: #fff;
    border-radius: 5px; 
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /
}

.card__image {
    width: 100%;
    border-radius: 19px;
}